@model HighVelocityPaymentsLibrary.Model.EmployeeBenefitsCostView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EmployeeBenefitsCostView</legend>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberOfDependents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfDependents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeCost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DependentCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DependentCost)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalCost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
